<h1>This is <%= @team.name %></h1>

<% @players.each do |p| %>
<p><%=p.name%></p>
<%end%>

<% if @team.owner == current_owner %>
  <%= link_to "Make Some Changes To Your Team", edit_league_team_path(@league, @team) %><br />
<% else %>
  <%= link_to "Send a Trade Offer", trade_path(@league, @team) %><br />
<% end %>
<%= link_to "Back To League Page", league_path(params[:league_id]) %>