<h1>This is the <%= @league.name %> League.</h1>

  <% @teams.each do |t| %>
  <p><%=link_to (image_tag(t.owner.avatar.url, :class => "img-thumbnail")), owner_path(@owners.find(t.owner_id)) %> - <%=link_to t.name, league_team_path(@league, t) %></p>
  <%end%>
  <%= @league.comments.count %>

<%= link_to "Add a team to this league", new_league_team_path(@league) %>

<%= render partial: "comments/comment", :controller => 'comments', :action => 'create' %>
