<h1>Welcome to the League, Please sign-up</h1>

<%= form_for @owner do |f| %>
  First Name: <%= f.text_field :first_name %><br/>
  Last Name: <%= f.text_field :last_name %><br/>
  Email: <%= f.text_field :email %><br/>
  Password: <%= f.password_field :password %><br/>
  <%= f.submit %>
<% end %>